.form-container {
    font-size: 1rem;
    padding: 2rem;

    label {
        font-weight: bold;
        padding-left: 0.5rem;
    }
    .password_container {
        position: relative;

        
    }

    .paragraph {
        font-size: 1rem;
        color: rgb(163, 154, 154);
    }
}
