<nav class="navbar" style="background-color:#34abc94a">

    <a class="navbar-brand" href="#">
        <img src="../../../assets/images/icons/pokeball.svg" alt="pokeball" />
        <span>Pokedex</span>
    </a>

    <div class="nav-buttons">
        <div routerLinkActive="active">
            <a routerLink="/">Home</a>
        </div>
        <div routerLinkActive="active">
            <a   routerLink="/auth">Sign in</a>
        </div>
        <div class="nav-item">
            <button class="button_primary">Sign-out</button>
        </div>
    </div>
</nav>