 :root{
    font-size: 10px;
 }
 .eye {
   display: block;
   position: absolute;
   height: 2.4rem;
   width: 2.4rem;
   background-image: url("../assets/images/icons/eyeClosed.svg");
   background-size: contain;
   background-repeat: no-repeat;
   right: 2.4rem;
   top: 0;
   z-index: 2;
   transform: translate(50%, 50%);

   &.open {
       background-image: url("../assets/images/icons/eyeOpen.svg");
   }
}